In [12]:
# import Entry model and sd object
from models import *

In [13]:
# What is db?
db

In [14]:
# What is Entry and how do we create it?
Entry?

In [15]:
#We can create Entry objects by passing column values in as the keyword-arguments, in the following steps:

# 1- write the entry
first_entry = Entry(title='First entry', body='This is the body of my first entry.')
# 2- add it to the database session (session is an object that represents our actions on the database)
db.session.add(first_entry)
     ### until now we didn't save entry to our database, to confirm that try to get entry unique id, you will get none as answer, because we didn't do commit to databse yet.
first_entry.id is None

True

In [16]:
# 3- Now commit the new entry, and check ID again
db.session.commit()
first_entry.id

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) no such table: entry [SQL: u'INSERT INTO entry (title, slug, body, created_timestamp, modified_timestamp) VALUES (?, ?, ?, ?, ?)'] [parameters: ('First entry', None, 'This is the body of my first entry.', '2017-11-01 16:45:45.603293', '2017-11-01 16:45:45.603415')]